<div class="container mt-4">
    <h3>📦 Đặt hàng</h3>

    <form method="post">

        <div class="mb-3">
            <label>Tên khách hàng</label>
            <input name="customerName" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Địa chỉ</label>
            <input name="address" class="form-control" />
        </div>

        <button class="btn btn-success">
            Xác nhận đặt hàng
        </button>

    </form>
</div>