<div class="container mt-4">
    <h3>📜 Lịch sử đơn hàng</h3>

    <div class="alert alert-success">
        @TempData["msg"]
    </div>

    <table class="table">
        <tr>
            <th>Mã đơn</th>
            <th>Trạng thái</th>
        </tr>

        <tr>
            <td>#001</td>
            <td>Đang xử lý</td>
        </tr>

        <tr>
            <td>#002</td>
            <td>Đã giao</td>
        </tr>
    </table>
</div>