@model SV22T1020731.Models.Partner.Customer

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.Title = "Đăng ký";
}

<div class="auth-card">

    <h3 class="text-center mb-3">📝 Đăng ký</h3>

    <form method="post">
        <div class="mb-3">
            <label>Tên khách hàng</label>
            <input asp-for="CustomerName" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Mật khẩu</label>
            <input type="password" name="Password" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Điện thoại</label>
            <input asp-for="Phone" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Địa chỉ</label>
            <input asp-for="Address" class="form-control" />
        </div>

        <button class="btn btn-success w-100">Đăng ký</button>
    </form>

    <div class="text-center mt-3">
        Đã có tài khoản?
        <a href="/Account/Login">Đăng nhập</a>
    </div>
</div>